@model IEnumerable<Projekt.Data.Data.CMS.Nawigacja>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LinkNawigacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TytulNawigacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrescNawigacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pozycja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LinkNawigacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TytulNawigacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrescNawigacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pozycja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNawigacji">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNawigacji">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNawigacji">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
